
<h1 id="head" class ="bg-info" >Hello welcome to <strong class="text-primary">QB-RESTAU</strong> where African food is life and  home cooked meals is the talk of the day together with
     <strong class= "text-danger">Recipy</strong></h1>
<ul class="nav nav-tabs bg-warning text-secondary ">
    <li class="nav-item">
      <a class="nav-link active" href="#">QB-RESTAU</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#">Recipy-List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Shopping-list</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">LogIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SignUP</a>
      </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
        <div class="dropdown-menu">
            
          <a class="dropdown-item" href="#">Fetch</a>
          <a class="dropdown-item" href="#">Save</a>
        </div>
    </li>
  </ul>